$button-primary-bg: #565eef;
$button-primary-text: #ffffff;
$button-secondary-border: 0.7px solid #565eef;
$button-secondary-bg: #ffffff;
$button-secondary-text: #565eef;
$button-disabled-bg: #565eef;
$button-disabled-bg: #94A6BE;
$button-disabled-text: #ffffff;
$error: #F84D4D
